@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Regular.woff2') format('woff2'),
        url('AcuminPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: 'Hydrophilia';
    src: url('HydrophiliaIced.woff2') format('woff2'),
        url('HydrophiliaIced.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: 'ChulaCharasNew';
    src: url('ChulaCharasNew.woff2') format('woff2'),
        url('ChulaCharasNew.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }


    @font-face {
    font-family: 'DS-Digital';
    src: url('DS-Digital-Italic.woff2') format('woff2'),
        url('DS-Digital-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    }

    #acumin{
        font-family: 'Acumin Pro';
    }

    #hydro{
        font-family: 'Hydrophilia';
    }

    #chula{
        font-family: 'ChulaCharasNew';
    }

    #ds-digital{
        font-family: 'DS-Digital';
    }
body{
    margin: 0;
    font-family: 'ChulaCharasNew'!important;
    
}
.navbar{
    width: 100vw;
    height: calc(25vh/3);
    background-color:rgb(71, 255, 15);
}
.content{
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    height: 100vh;
}
.snap_page {
    scroll-snap-align: start;
    height: 100vh;
}
.page1_contant{
    width: 100vw;
    height: calc(100vh - (25vh/3));
    background-color: black;
    scroll-snap-align: start;
}
.page2_contant, .page3_contant, .page5_contant, .page6_contant{
    width: 100vw;
    height: 100vh;
}

.checkerboardbw{
    width: 100vw;
    height: 25vh;
    background-color: coral;
    scroll-snap-align: start;
}

.page4_contant{
    width: 100vw;
    height: 90vh;

}
.checkerboardbo{
    width: 100vw;
    height: 30vh;
    background-color: black;
    scroll-snap-align: start;
}

/* page4 */

/* จอmac */
@media screen and (max-width: 1280px) {
    .content_allpagemac {
        display: flex!important;
        flex-wrap: wrap!important;
        width: 100%;
        height: 100%;
        padding-top: 12%!important;
        margin-left: 8%;
     
    }
    .page4_contant{
        width: 100vw;
        height: 90vh;
    
    }
    .checkerboardbo{
        width: 100vw;
        height: 23vh;
        background-color: black;
        scroll-snap-align: start;
    }
   
  }
/* ไอแพดกับโทรศัพท์ */

@media screen and (max-width: 1024px) and (min-width: 200px){
    .content_allpage {
        display: block!important;
        width: 100%!important;
        height: 100%;
        padding-top: 0%!important;
        margin-left: 8%!important;
     
    }
     
    .content_car{
        width: 100vw;
        height: 16vw;
        position: relative;
        top: 6vw!important;
    }
    .content_page4text{
        color: rgb(255, 255, 255);
        top: 35vw!important;
        align-items: center;
    }
    .topicpage4{
        text-align: center!important;
        margin-left: -17%;
        font-size: 7vw!important;
        color: rgb(255, 255, 255);
        font-family: 'ChulaCharasNew';
        
    }
    .linepage4{
        border-bottom: 0.1vw solid rgba(255, 255, 255);
        height: 1vw;
        width: 55%!important;
        align-items: center;
        margin-left: 14%;
        margin-top: 4vw;
    }
    .parapage4{
        display: none;
    }
    .boxlr{
        position: relative;
        top: 10vw!important;
        width: 70vw!important;
        left: 5%;
        /* height: 3vw; */
        border: 0.1vw solid #F694FF;
        padding: 0 0.5vw;
        align-items: center!important;
        text-align: center!important;
        
    }
    .vector301{
        align-items: center;
        padding-top: 1vw;
        display: inline-block;
        /* margin-left: 2.5vw; */
    }
    .vector3012{
        align-items: center;
        padding-top: 1vw;
        display: inline-block;
    }
    .textboxlr{
        align-items: center;
        display: inline-block;
        font-size: 4vw!important;
        margin-bottom: 1.5vw;
        
        
    }
    .arrowdownp4{
        width: 4vw!important;
        padding-top: 20vw!important;
        padding-left: 82vw!important;
    }
    #changecar {
        position: relative;
        margin-left: 35vw!important;
        top: 5vw!important;
    }
    
    #changecar>.car {
        position: absolute;
    }
    
    #leftchangecar {
        position: absolute;
        top: 15vw;
        margin-left: 20vw!important;
        background: transparent;
        color: white;
        font-size: 5vw!important;
        border: 0;
        outline: 0;
        cursor: pointer;
        z-index: 4;
    }
    
    #rightchangecar {
        position: absolute;
        top: 15vw;
        margin-right: 0vw!important;
        margin-left: 60vw!important;
        background: transparent;
        color: white;
        font-size: 5vw!important;
        border: 0;
        outline: 0;
        cursor: pointer;
        z-index: 4;
    }
    
    #carpic {
        width: 15vw!important;
        
    }
    #mortorpic{
        width: 16vw!important;
    }
    .parapage4mobile{
        display: block!important;
        margin-top: 7vw!important;
        text-align: center!important;
        font-size: 3.5vw!important;
        color: rgb(255, 255, 255)!important;
        font-family: 'ChulaCharasNew'!important;
        letter-spacing: 1px!important;
        line-height: 5vw!important;
        margin-left: -15%!important;
        
    }
    .page4_contant{
        width: 100vw;
        height: 160vw!important;
    
    }
    .checkerboardbo{
        width: 100vw;
        height: 15vw;
        background-color: black;
        scroll-snap-align: start;
    }
    .checko{
        width: 120vw;
    }
   
  }

/* จอปกติ */
 


  .content_allpage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 8vh;
    margin-left: 8%;
 
}
.content_car{
    width: 42vw;
    height: 16vw;
    position: relative;
    top: 15vw;
}
.content_page4text{
    color: rgb(255, 255, 255);
    position: relative;
    top: 0vw;
}
.racp4{
    position: relative;
    left:32vw;
    top: -5vw;
    width: 3vw;
}
.linepage4{
    border-bottom: 0.1vw solid rgba(255, 255, 255);
    height: 1vw;
    width: 90%;
}

.topicpage4{
    padding-top: 1.5vw;
    text-align: left;
    font-size: 4.5vw;
    color: rgb(255, 255, 255);
    font-family: 'ChulaCharasNew';
    
}
.hrlime{
    color:#DBFF00;
    font-family: 'ChulaCharasNew';
}
.parapage4{
    margin-top: 2vw;
    text-align: left;
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    font-family: 'ChulaCharasNew';
    letter-spacing: 1px;
    line-height: 2vw;
}
.parapage4mobile{
    display: none;
    
}
.boxlr{
    margin-top: 1vw;
    width: 35vw;
    /* height: 3vw; */
    border: 0.1vw solid #F694FF;
    padding: 0 1.5vw;
    align-items: center;
    text-align: center;
    
}
.vector301{
    align-items: center;
    padding-top: 1.5vw;
    display: inline-block;
    /* margin-left: 2.5vw; */
}
.vector3012{
    align-items: center;
    padding-top: 0.25vw;
    display: inline-block;
}
.textboxlr{
    align-items: center;
    display: inline-block;
    font-size: 2vw;
    padding: 0 2.5vw;
    
}
.arrowdownp4{
    width: 2vw;
    padding-top: 0vw;
    padding-left: 40vw;
}
#changecar {
    position: relative;
    margin-left: 19vw;
    top: -5vw;
}

#changecar>.car {
    position: absolute;
}

#leftchangecar {
    position: absolute;
    /* top: 19vw; */
    margin-left: 11vw;
    background: transparent;
    color: white;
    font-size: 2.5vw;
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index: 4;
}

#rightchangecar {
    position: absolute;
    /* top: 19vw; */
    margin-left: 33vw;
    background: transparent;
    color: white;
    font-size: 2.5vw;
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index: 4;
}

#carpic {
    width: 8vw
}
#mortorpic{
    width: 9vw
}

.car {
    opacity: 0;
}

.car:nth-child(1) {
    opacity: 1;
}
.checko{
    width: 100vw;
}