body{
    margin: 0;
    
}
.navbar{
    width: 100vw;
    height: calc(25vh/3);
    background-color:rgb(71, 255, 15);
}
.content{
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    height: 100vh;
}
.snap_page {
    scroll-snap-align: start;
    height: 100vh;
}
.page1_contant{
    width: 100vw;
    height: calc(100vh - (25vh/3));
    background-color: black;
    scroll-snap-align: start;
}
.page2_contant, .page3_contant, .page4_contant, .page5_contant, .page6_contant{
    width: 100vw;
    height: 100vh;
}
.checkerboardbw, .checkerboardbo{
    width: 100vw;
    height: 25vh;
    background-color: coral;
    scroll-snap-align: start;
}
